$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "asset/font" !default;

$cv-x: "\e900";
$cv-chevron: "\e901";
$cv-twitter: "\ea96";
$cv-whatsapp: "\ea93";
$cv-linkedin: "\eac9";
$cv-stackoverflow: "\ead0";
$cv-arrow: "\ea36";
$cv-youtube: "\ea9d";
$cv-facebook: "\ea91";
$cv-github: "\eab0";
$cv-instagram: "\ea92";
$cv-codewars: "\e902";
