.header-wrapper,
.header-wrapper-orange {
  width: 100%;
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(204, 128, 15, 0.6);
}

.header-wrapper {
  height: 40px;
  background-color: rgba(204, 0, 0, 0.6);
}

.header,
.header-orange {
  width: 304px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.header-orange {
  background-color: rgba(204, 128, 15, 1);
}

.header {
  line-height: 24px;
  font-size: 20px;
  height: 40px;
  background-color: #cc0000;
}

//tablet
@media screen and (min-width: 1024px) {
  .header,
  .header-orange {
    width: 768px;
  }
}

//desktop
@media screen and (min-width: 1440px) {
  .header,
  .header-orange {
    width: 1200px;
  }
}
